/* *{
    overflow: hidden;
} */
.navigating{
    position: absolute;
    display: inline-block;
    top: 80vh;
    z-index: 30;
}
h1{
    font-size:2.5rem;
}
Button{
    border : none;
    background-color: transparent;
}
.arrowimgs{
    height: 20vh;
}
.up{
    left:12vw;
    /* margin-left:-5vw; */
}
.up img{
    height: 15vh
}
.left{
    left:5vw;
}
.right{
    left:18vw;
}
.shoot{
    right:10vw;
}
.shoot img{
    width: 15vh !important;
    height: auto !important;
}
.rotate{
    display:none;
}
.rotate h1{
    display:none;
}